* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class*=col] {
    flex: 0 0 auto;
}

.col-1 {
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}

.col-9 {
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}

.col-11 {
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}

/* offset */

.offset-1 {
    margin-left: calc((100% / 12) * 1);
}

.offset-2 {
    margin-left: calc((100% / 12) * 2);
}

.offset-3 {
    margin-left: calc((100% / 12) * 3);
}

.offset-4 {
    margin-left: calc((100% / 12) * 4);
}

.offset-5 {
    margin-left: calc((100% / 12) * 5);
}

.offset-6 {
    margin-left: calc((100% / 12) * 6);
}

.offset-7 {
    margin-left: calc((100% / 12) * 7);
}

.offset-8 {
    margin-left: calc((100% / 12) * 8);
}

.offset-9 {
    margin-left: calc((100% / 12) * 9);
}

.offset-10 {
    margin-left: calc((100% / 12) * 10);
}

.offset-11 {
    margin-left: calc((100% / 12) * 11);
}

.offset-12 {
    margin-left: calc((100% / 12) * 12);
}

/* media query */

@media and (min-width: 576px){
    .sm-col-1{
        width: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }

    .sm-col-2{
        width: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }

    .sm-col-3{
        width: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }


    .sm-col-4{
        width: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }


    .sm-col-5{
        width: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }


    .sm-col-6{
        width: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }


    .sm-col-7{
        width: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }


    .sm-col-8{
        width: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }


    .sm-col-9{
        width: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }


    .sm-col-10{
        width: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }


    .sm-col-11{
        width: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }


    .sm-col-12{
        width: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }

    .sm-offset-1{
        margin-left: calc((100% / 12) * 1);
    }

    .sm-offset-2{
        margin-left: calc((100% / 12) * 2);
    }

    .sm-offset-3{
        margin-left: calc((100% / 12) * 3);
    }


    .sm-offset-4{
        margin-left: calc((100% / 12) * 4);
    }


    .sm-offset-5{
        margin-left: calc((100% / 12) * 5);
    }


    .sm-offset-6{
        margin-left: calc((100% / 12) * 6);
    }


    .sm-offset-7{
        margin-left: calc((100% / 12) * 7);
    }


    .sm-offset-8{
        margin-left: calc((100% / 12) * 8);
    }


    .sm-offset-9{
        margin-left: calc((100% / 12) * 9);
    }


    .sm-offset-10{
        margin-left: calc((100% / 12) * 10);
    }


    .sm-offset-11{
        margin-left: calc((100% / 12) * 11);
    }


    .sm-offset-12{
        margin-left: calc((100% / 12) * 12);
    }
}

@media and (min-width: 768px) {
    .md-col-1{
        width: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }

    .md-col-2{
        width: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }

    .md-col-3{
        width: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }


    .md-col-4{
        width: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }


    .md-col-5{
        width: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }


    .md-col-6{
        width: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }


    .md-col-7{
        width: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }


    .md-col-8{
        width: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }


    .md-col-9{
        width: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }


    .md-col-10{
        width: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }


    .md-col-11{
        width: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }


    .md-col-12{
        width: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }

    .md-offset-1{
        margin-left: calc((100% / 12) * 1);
    }

    .md-offset-2{
        margin-left: calc((100% / 12) * 2);
    }

    .md-offset-3{
        margin-left: calc((100% / 12) * 3);
    }


    .md-offset-4{
        margin-left: calc((100% / 12) * 4);
    }


    .md-offset-5{
        margin-left: calc((100% / 12) * 5);
    }


    .md-offset-6{
        margin-left: calc((100% / 12) * 6);
    }


    .md-offset-7{
        margin-left: calc((100% / 12) * 7);
    }


    .md-offset-8{
        margin-left: calc((100% / 12) * 8);
    }


    .md-offset-9{
        margin-left: calc((100% / 12) * 9);
    }


    .md-offset-10{
        margin-left: calc((100% / 12) * 10);
    }


    .md-offset-11{
        margin-left: calc((100% / 12) * 11);
    }


    .md-offset-12{
        margin-left: calc((100% / 12) * 12);
    }
}

@media and (min-width: 992px) {
    .lg-col-1{
        width: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }

    .lg-col-2{
        width: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }

    .lg-col-3{
        width: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }


    .lg-col-4{
        width: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }


    .lg-col-5{
        width: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }


    .lg-col-6{
        width: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }


    .lg-col-7{
        width: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }


    .lg-col-8{
        width: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }


    .lg-col-9{
        width: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }


    .lg-col-10{
        width: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }


    .lg-col-11{
        width: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }


    .lg-col-12{
        width: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }

    .lg-offset-1{
        margin-left: calc((100% / 12) * 1);
    }

    .lg-offset-2{
        margin-left: calc((100% / 12) * 2);
    }

    .lg-offset-3{
        margin-left: calc((100% / 12) * 3);
    }


    .lg-offset-4{
        margin-left: calc((100% / 12) * 4);
    }


    .lg-offset-5{
        margin-left: calc((100% / 12) * 5);
    }


    .lg-offset-6{
        margin-left: calc((100% / 12) * 6);
    }


    .lg-offset-7{
        margin-left: calc((100% / 12) * 7);
    }


    .lg-offset-8{
        margin-left: calc((100% / 12) * 8);
    }


    .lg-offset-9{
        margin-left: calc((100% / 12) * 9);
    }


    .lg-offset-10{
        margin-left: calc((100% / 12) * 10);
    }


    .lg-offset-11{
        margin-left: calc((100% / 12) * 11);
    }


    .lg-offset-12{
        margin-left: calc((100% / 12) * 12);
    }
}